[submodule "RaspberryPi/buildroot-externals"]
	path = RaspberryPi/buildroot-externals
	url = https://github.com/sirsipe/buildroot-externals
[submodule "RaspberryPi/buildroot"]
	path = RaspberryPi/buildroot
	url = git://git.buildroot.net/buildroot
	branch = 2022.02.x
